$extra_large: 2100px;
$xxl: 1550px;
$xl: 1200px;
$lg: 991px;
$md: 767px;
$sm: 575px;


:root {
    --primary-blue-color: #00266F;
    --primary-red-color: #D61327;
  
    --black-color: #1E1E1E;
    --light-color: #6A6A6A;
    --light-blue-color: #F1F6FF;
    --light-border-color: #DCE0E8;
    --white-color: #ffffff;
    --green-color: #02CF6D;

    
}