@font-face {
    font-family: 'Avenir';
    src: url('../assets/fontts/AvenirLight.woff') format('woff'),
        url('../assets/fontts/AvenirLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fontts/AvenirBook.woff') format('woff'),
        url('../assets/fontts/AvenirBook.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fontts/AvenirRegular.woff') format('woff'),
        url('../assets/fontts/AvenirRegular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fontts/AvenirHeavy.woff') format('woff'),
        url('../assets/fontts/AvenirHeavy.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../assets/fontts/AvenirBlack.woff') format('woff'),
        url('../assets/fontts/AvenirBlack.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

